.card:hover {
    box-shadow: 0 8px 36px 0 rgba(0,0,0,0.2);
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
}
.primary_pic {
	margin-bottom: 20px;
}

.navbar-brand {
	color: #0F409C
}
/*

<body>
	<h1> 
	<font color="red">Welcome</font> 
 	<font size="6">Welcome</font> 
 	</h1>
 	<p>
 	<font color="red">to Kings Landing</font> 
  <font size="6">to Kings Landing</font> 
 	</p>
 </body>

 
*/